:root {
    /* color palette */
    --pitch-black: black;
    --dark-gray: rgb(16, 16, 16);
    --pure-white: white;

    /* custom sizes */
    --shadow: 2px;
    --space: 8px;
    --icon: 50px;
    --collosal: calc(100vw / 2 - var(--space) * 3);

    /* right timings */
    --blink: 0.3s;
    --heartbeat: 0.5s;
    --breath: 6s;
}   

/* local fonts */
@font-face {
    font-family: 'local-1';
    src: url('/fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');
}

@font-face {
    font-family: 'local-2';
    src: url('/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}

/* whole document styles */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    /* filter: invert(100%); */
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'local-2', monospace, sans-serif;
    scroll-behavior: smooth;
    color: var(--pitch-black);
    background-color: var(--pure-white);
    overflow-x: hidden;
    /* cursor: url('/images/custom-cursor.svg'), auto; */
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'local-1', monospace, sans-serif;
}
h3 {
    text-align: center;
}

/* ---------- header ---------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--pure-white);
    background-image: linear-gradient(to bottom, var(--dark-gray), var(--pitch-black));
    position: sticky;
    top: 0;
    padding: calc(var(--space) + var(--shadow)) var(--space) var(--space);
    box-shadow: 0 0 var(--shadow) var(--shadow) var(--pitch-black);
    z-index: 1;
    opacity: 0.9;
    min-width: max-content;
}

.header-title {
    color: inherit;
    background-color: inherit;
}

.dropdown-menu-button {
    display: inline-block;
    width: var(--icon);
    height: var(--icon);
    filter: invert(100%);   
    transition: var(--heartbeat) ease-in-out;
    flex-shrink: 0;
}
.dropdown-menu-button:hover {
    cursor: pointer;
    filter: invert(100%) drop-shadow(0 0 var(--shadow) var(--pure-white));
    transition: var(--heartbeat) ease-in-out;
}
.dropdown-menu-button.active {
    filter: invert(100%) drop-shadow(0 0 calc(var(--shadow) * 2) var(--pure-white));
    transition: var(--heartbeat) ease-in-out;
}
.dropdown-menu-button.active:hover {
    filter: invert(100%) drop-shadow(0 0 calc(var(--shadow) * 4) var(--pure-white));
    transition: var(--heartbeat) ease-in-out;
}

/* ----- dropdown menu ----- */
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(var(--icon) + var(--space) * 3);
    right: var(--shadow);
    background-color: var(--pitch-black);
    box-shadow: 0 0 var(--shadow) var(--shadow) var(--pitch-black);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility var(--heartbeat) ease-in-out, opacity var(--heartbeat) ease-in-out;  
}
.dropdown-menu a {
    display: flex;  
    justify-content: center;
    color: var(--pure-white);
    padding: calc(var(--icon) / 2);
    text-decoration: none;
    text-align: center;
    transition: background-color var(--heartbeat) ease-in-out, text-shadow var(--heartbeat) ease-in-out
}
.dropdown-menu a:hover,
.currentSection {
    background-color:var(--dark-gray);
    text-shadow: 0 0 var(--shadow) var(--pure-white);
    transition: background-color var(--heartbeat) ease-in-out, text-shadow var(--heartbeat) ease-in-out;
}
.show {
    visibility: visible;
    opacity: 1;
}

/* ---------- main ---------- */
main {
    color: var(--pitch-black);
    background-color: var(--pure-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#monolith {
    padding: calc(var(--space)*2) var(--space);
    max-width: 100vw;
}
main h1, h2, h3, h4, h5, h6 {
    margin: calc(var(--space) * 2) 0 var(--space) 0;
    color: inherit;
    background-color: inherit;
}
main p {
    margin: var(--space) 0;
    color: var(--pitch-black);
}
main a {
    text-decoration: none;
    color: inherit;
    transition: color var(--blink) ease-in-out, text-shadow var(--blink) ease-in-out, font-weight var(--blink) ease-in-out;
    text-shadow: 0 0 var(--shadow) var(--pitch-black);
}
main a:hover {
    color: var(--pure-white);
    text-shadow: 0 0 var(--shadow) var(--pitch-black);
    font-weight: bold;
    transition: color var(--blink) ease-in-out, text-shadow var(--blink) ease-in-out, font-weight var(--blink) ease-in-out;
}
#page-0, #con, #pro, #ski, #edu, #bio {
    display: flex;
    flex-direction: column;
}

/* ----- page-0 ----- */
#page-0 {
    align-items: center;
}
#page-0 h2 {
    align-self: baseline;
}
.portrait img {
    align-self: center;
    height: calc(var(--collosal)/2);
    width: calc(var(--collosal)/2);
    margin: var(--space);
    border: var(--shadow) solid var(--pitch-black);
    /* border-radius: 100%; */
    box-shadow: 0 0 var(--shadow) var(--shadow) var(--pitch-black);
    animation-name: hueRotateLoop;
    animation-duration: var(--breath);
    animation-iteration-count: infinite;
}
@keyframes hueRotateLoop {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/* ----- projects ----- */
#pro {

}
.projects {
    display: grid;
    grid-template-rows: repeat(2, calc(var(--collosal)/2));
    grid-template-columns: repeat(2, var(--collosal));
    grid-auto-flow: row;
    grid-auto-rows: calc(var(--collosal)/2);
    grid-gap: var(--space);
    margin: var(--space);
    align-self: center;
}
.project {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 var(--shadow) var(--pitch-black);
    padding: var(--space);
    color: inherit;
    text-shadow: 0 0 var(--shadow) var(--shadow) var(--pitch-black);
    background-color: gainsboro;
}
.project-1 {
    background-image: ;
}
.project-2 {
    background-image: ;
}
.project-3 {
    background-image: ;
}
.project-4 {
    background-image: ;
}

/* ----- skillset ----- */
#ski ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}
#ski ul li {
    margin: var(--space) 0 var(--space) calc(var(--space)*2);
    padding-left: var(--space);
}
#ski ul li::marker {
    content: "➳";
    font-weight: bold;
}

/* ----- education ----- */
#edu ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    counter-reset: roman-counter 4;
}
#edu ol li {
    margin: var(--space) 0 var(--space);
    counter-increment: roman-counter -1;
}
#edu ol li::before {
    content: counter(roman-counter, upper-roman);
    font-weight: bold;
    margin-right: var(--space);
} 

/* ----- biography ----- */
#bio img {
    margin-right: var(--space);
}

/* ---------- footer ---------- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space);
    background-color: inherit;
}
#signature {
    text-align: center;
    color: var(--dark-gray);
    padding: var(--space);
}
.social-icons {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    flex-wrap: wrap;
}
.social-icons .social-icon {
    margin: 0 var(--space);
    transition: filter var(--heartbeat), transform var(--heartbeat);
}
.social-icons .social-icon:hover {
    filter: drop-shadow(0 0 var(--shadow) var(--pure-white)) invert(100%);
    transform: scale(1.2);
    transition: filter var(--heartbeat), transform var(--heartbeat);
}

/* - spices - */
::-webkit-scrollbar {
    width: var(--space);
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, var(--pitch-black), var(--pure-white), var(--pitch-black));
    box-shadow: inset 0 0 var(--shadow) var(--pitch-black);
    cursor: move;
    column-rule-color: aqua;
}
::-webkit-scrollbar-track {
    background-color: var(--pitch-black);
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
::selection {
    color: yellow;
    background-color: blue;
}
.fadeIn {
    animation-name: fadeIn;   
}
.slow {
    animation-duration: var(--breath);
}
.fast {
    animation-duration: var(--heartbeat);
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media only screen and (max-width: 821px) {
    :root {
        --collosal: calc(100vw - var(--space) * 3);
    }
    header {
        padding: calc(calc(var(--space) * 3) + var(--shadow)) var(--space) var(--space);
    }
    h1 {
        font-size: large;
    }
    .projects {
        grid-template-rows: repeat(1, calc(var(--collosal)/2));
        grid-template-columns: repeat(1, var(--collosal));
    }
}