.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: var(--detail_size) solid var(--pure-white);
    width: 16.1ch;
    animation: typing var(--onetwothree) steps(16, end), blink var(--heartbeat) step-end infinite alternate;
}

@keyframes typing {
    from { width: 0; }
    to { width: 16ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

section {
    opacity: 0;
    transform: translateY(30%); /* Start below the original position */
    transition: opacity var(--heartbeat) ease-in, transform var(--heartbeat) ease-in; /* Smooth transition for both opacity and movement */
}

.fade-in {
    opacity: 1;
    transform: translateY(0); /* Move to the original position */
}


