@media (max-width: 810px) {
    .typewriter {
        width: 2.1ch !important;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li a.textual {
        padding: 0 var(--vertical_space);
    }
    .contacts {
        flex-direction: column;
    }
    #repeated-contacts {
        flex-direction: row;
    }
}