@media (max-width: 810px) {
    .typewriter {
        width: 2.1ch !important;
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts {
        flex-direction: column;
    }
    #repeated-contacts {
        flex-direction: row;
    }
}